@curso-x:    #CC2562;
@engenharia-redes: #EA2F00;
@engenharia-clinica: #A220CB;
@engenharia-sistemas: #2E0096;
@desenvolvimento-aplicacoes: #008394;
@internet-coisas: #068CD4;
@mba-gestao-empresarial: #3F930A;
@industria-4: #820073;
@design-interacao: #CC2562;
@primary-dark-color: #001E40;
@primary-light-color: #065CBE;
@black:     #000;
@white:     #FFF;
@reverse-bg:    #323232;
@dark-gray: #454545;
@primary: #065CBE;

// Breakpoints
@mobile:    768px;
@tablet:    1025px;
@desktop:   1360px;

// Font
@48px: 3rem;
@40px: 2.5rem;
@28px: 1.75rem;
@26px: 1.625rem;
@24px: 1.5rem;
@20px: 1.25rem;
@18px: 1.125rem;
@16px: 1rem;
@15px: 0.9375rem;
@14px: 0.875rem;
@12px: 0.75rem;
