@import "../settings/variables.less";

.order-mobile-first {
    @media screen and (max-width: @mobile) {
        -ms-flex-order: 1;
        order: 1;
    }
}

.order-mobile-last {
    @media screen and (max-width: @mobile) {
        -ms-flex-order: 2;
        order: 2;
    }
}

.container-grid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: @tablet) {
        width: 1025px;
        padding: 0 20px;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: @desktop) {
        width: 1360px;
        padding: 0 40px;
        margin-right: auto;
        margin-left: auto;
    }      
}

.design-interacao-artefatos-digitais {
    .color-course { color: @curso-x!important;}
    .background-course { background-color: @curso-x!important;}
    .background-course-mobile {
        background-color: @curso-x;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @curso-x!important;}
}

.home {
    .color-primary { color: @primary!important;}
    .background-primary { background-color: @primary!important;}
    .background-primary-mobile {
        background-color: @primary;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-primary { border-color: @primary!important;}
}

