@import "../settings/variables.less";

.order-mobile-first {
    @media screen and (max-width: @mobile) {
        -ms-flex-order: 1;
        order: 1;
    }
}

.order-mobile-last {
    @media screen and (max-width: @mobile) {
        -ms-flex-order: 2;
        order: 2;
    }
}

.container-grid {
    width: 100%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: @tablet) {
        width: 1025px;
        padding: 0 20px;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: @desktop) {
        width: 1360px;
        padding: 0 40px;
        margin-right: auto;
        margin-left: auto;
    }      
}

.home {
    .color-primary { color: @primary!important;}
    .background-primary { background-color: @primary!important;}
    .background-primary-mobile {
        background-color: @primary;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-primary { border-color: @primary!important;}
}

.design-interacao-artefatos-digitais {
    .color-course { color: @design-interacao!important;}
    .background-course { background-color: @design-interacao!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @design-interacao;}
    .background-course-mobile {
        background-color: @design-interacao;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @design-interacao!important;}
}

.engenharia-redes-sistemas-telecomunicacoes {
    .color-course { color: @engenharia-redes!important;}
    .background-course { background-color: @engenharia-redes!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @engenharia-redes;}
    .background-course-mobile {
        background-color: @engenharia-redes;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @engenharia-redes!important;}
}

.engenharia-clinica-engenharia-biomedica {
    .color-course { color: @engenharia-clinica!important;}
    .background-course { background-color: @engenharia-clinica!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @engenharia-clinica;}
    .background-course-mobile {
        background-color: @engenharia-clinica;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @engenharia-clinica!important;}
}

.engenharia-sistemas-eletroeletronico-automacao-controle-industrial {
    .color-course { color: @engenharia-sistemas!important;}
    .background-course { background-color: @engenharia-sistemas!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @engenharia-sistemas;}
    .background-course-mobile {
        background-color: @engenharia-sistemas;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @engenharia-sistemas!important;}
}

.desenvolvimento-aplicacoes-dispositivos-moveis-cloud-computing {
    .color-course { color: @desenvolvimento-aplicacoes!important;}
    .background-course { background-color: @desenvolvimento-aplicacoes!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @desenvolvimento-aplicacoes;}
    .background-course-mobile {
        background-color: @desenvolvimento-aplicacoes;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @desenvolvimento-aplicacoes!important;}
}

.internet-das-coisas {
    .color-course { color: @internet-coisas!important;}
    .background-course { background-color: @internet-coisas!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @internet-coisas;}
    .background-course-mobile {
        background-color: @internet-coisas;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @internet-coisas!important;}
}

.mba-gestao-empresarial-ambiente-tecnologico {
    .color-course { color: @mba-gestao-empresarial!important;}
    .background-course { background-color: @mba-gestao-empresarial!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @mba-gestao-empresarial;}
    .background-course-mobile {
        background-color: @mba-gestao-empresarial;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @mba-gestao-empresarial!important;}
}

.industria-4 {
    .color-course { color: @industria-4!important;}
    .background-course { background-color: @industria-4!important;}
    .box-shadow-course { box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 @industria-4;}
    .background-course-mobile {
        background-color: @industria-4;
        @media screen and (min-width: @tablet) {
            background-color: initial;
        }
    }
    .border-course { border-color: @industria-4!important;}
}



