@import "../settings/variables.less";

.container-grid {
    width: 100%;
    padding: 0 16px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: @desktop) {
        width: 1025px;
        padding: 0 20px;
        margin-right: auto;
        margin-left: auto;
    }
    @media screen and (min-width: @desktop) {
        width: 1360px;
        padding: 0 40px;
        margin-right: auto;
        margin-left: auto;
    }      
}

.design-interacao-artefatos-digitais {
    .color-course { color: @curso-x!important;}
    .background-course { background-color: @curso-x!important;}
    .border-course { border-color: @curso-x!important;}
}

.home {
    .color-primary { color: @primary!important;}
    .background-primary { background-color: @primary!important;}
    .border-primary { border-color: @primary!important;}
}

