@import "../settings/variables.less";
@import "../settings/font.less";


footer {
    padding: 20px 0 40px 0;
    background: @primary-dark-color;
    color: @white;
    h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0 40px 0;
    }
    .cursos-footer {
        p {
            font-size: 16px;
            font-weight: 700;
            margin: 20px 0;
        }
    }
    .link-footer {
        display: flex;
        flex-flow: wrap;
        align-items: baseline;
        margin-top: -5px;
        margin-left: -10px;     
        margin-bottom: 20px; 
        .item {
            color: @primary-light-color;
            background: @white;
            border-radius: 4px;
            box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 #065CBE;        
            margin: 5px;
            padding: 6px 12px;
            width: auto;
            font-size: 14px;
        }
    }

    .contact-us {
        .phone {
            display: flex;
            align-items: end;
            margin-bottom: 20px;
            .phone-local {
                p { 
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0 0 0 10px;
                    padding: 0;
                }
            }
        }
        .email {
            a {
                margin: 0 0 0 10px;
                color: @white;
            }
        }
    }

    .signature {
        background: @white;
        color: @primary-dark-color;
        margin-top: 20px;
        padding: 20px 40px;
        @media screen and (max-width: @mobile) { 
            background: transparent;
        }
        .logo-footer {
            height: 32px;
            display: flex;
            align-items: center;
            height: 100%;
            @media screen and (max-width: @mobile) { 
                background: @white;
            }
        }
        .copyrights {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .social {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;
            p {
                margin: 0 10px 0 0;
            }
            img {
                margin: 0 10px;
                &:last-child {
                    margin: 0 0 0 10px;
                }
            }
        }
    }
}