@import "../settings/variables.less";
@import "../settings/font.less";


footer {
    padding: 20px 0 120px 0;
    background: @primary-dark-color;
    color: @white;
    @media screen and (min-width: @mobile) { 
        padding: 20px 0 40px 0;
    }
    h4 {
        font-size: 16px;
        font-weight: 400;
        margin: 20px 0 40px 0;
    }
    .cursos-footer {
        p {
            font-size: 16px;
            font-weight: 700;
            margin: 20px 0;
            a {
                color: @white;
                &:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .link-footer {
        display: flex;
        flex-flow: wrap;
        align-items: baseline;
        margin-top: -5px;
        margin-left: -10px;     
        margin-bottom: 20px; 
        .item {
            color: @primary-light-color;
            background: @white;
            border-radius: 4px;
            box-shadow: -2px 3px 10px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 0 0 #065CBE;        
            margin: 5px;
            padding: 6px 12px;
            width: auto;
            font-size: 14px;
        }
    }

    .contact-us {
        .phone {
            display: flex;
            align-items: end;
            margin-bottom: 20px;
            .phone-local {
                p { 
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0 0 0 10px;
                    padding: 0;
                }
            }
        }
        .email {
            a {
                margin: 0 0 0 10px;
                color: @white;
            }
        }
    }

    .signature {
        background: @white;
        color: @primary-dark-color;
        margin-top: 20px;
        padding: 20px 40px;
        @media screen and (max-width: @mobile) { 
            background: transparent;
            padding: 20px 15px;
            color: @white;
        }
        .logo-footer {
            height: 32px;
            display: flex;
            align-items: center;
            height: 100%;
            padding: 20px;
            justify-content: left;
            @media screen and (max-width: @mobile) { 
                background: @white;
                justify-content: center;
            }
        }
        .copyrights {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
        }
        .social {
            display: flex;
            height: 100%;
            align-items: center;            
            justify-content: flex-end;            
            @media screen and (max-width: @mobile) { 
                justify-content: center;    
                margin: 40px 0;
            }
            p {
                margin: 0 10px 0 0;
            }
            .link {
                margin: 0 10px;
                padding: 12px;
                background-position: center;
                background-repeat: no-repeat;
                &:last-child {
                    margin: 0 0 0 10px;
                }
                &.facebook-footer {
                    background-image: url(/assets/img/facebook.svg);
                    @media screen and (max-width: @mobile) { 
                        background-image: url(/assets/img/facebook-white.svg);
                    }
                }
                &.twitter-footer {
                    background-image: url(/assets/img/twitter.svg);
                    @media screen and (max-width: @mobile) { 
                        background-image: url(/assets/img/twitter-white.svg);
                    }
                }
                &.youtube-footer {
                    background-image: url(/assets/img/youtube.svg);
                    @media screen and (max-width: @mobile) { 
                        background-image: url(/assets/img/youtube-white.svg);
                    }
                }                                
            }
        }
    }
}

.float-button-mobile {
    background: @white;
    padding: 25px 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: 1px solid #F0F0F0;
    display: block;
    @media screen and (min-width: @mobile) { 
        display: none;
    }
    a {
        display: block;
        width: 100%;
        text-align: center;
    }
}

.float-inscreva-se {
    background-color: @white;
    width: 708px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    height: 100%; 
    padding: 32px;
    transition: 0.5s;
    &.closed {
        transform: translateX(+200%);
    }
    @media screen and (max-width: @tablet) { 
        width: 100%;
        transform: translateX(0);
    }   
    .topo {
        display: flex;
        justify-content: space-between;
        h4 {
            color: @black;
            font-family: @fontTahoma;
            font-size: 20px;
            font-weight: 700;
            line-height: 26px;
            width: 384px;
            text-align: left;              
        }
        .fechar {
            color: #065CBE;
            font-family: @fontRoboto;
            font-size: 16px;
            font-weight: 700;
            line-height: 19px;
            text-align: left;
        }
    }
    .conteudo {
        #rd-column-juvacwbp {
            div {
                padding-left: 0;
                padding-right: 0;
                width: 250px;
            }
            .bricks-form__submit {
                position: absolute;
                width: 100%;
            }
            #rd-button-joq3m2m5a {
                font-family: @fontRoboto;
                color: @white;
                font-size: 16px;
                font-weight: 700;
                max-height: 80px;
                padding: 10px;
                border-color: @white;
                border-width: 2px;
                border-style: solid;
                border-radius: 4px;
                padding: 10px 40px; 
            }
        }
    }
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;
    left: 0;    
    transition: 0.1s;
    opacity: 1;
    &.closed {
        z-index: -9;
        opacity: 0;
    }
}