@import "../settings/variables.less";
@import "../settings/font.less";

.head {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: @fontRoboto;
    .logo {
        width: 168px;
        height: 80px;
    }
    .bradcrumbs {
        display: flex;
        align-items: center;
        height: 100%;  
    }
    .buttons-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;  
        a {
            padding: 15px 25px;
        }  
    }
}




