@import "../settings/variables.less";
@import "../settings/font.less";

.head {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: @fontRoboto;
    .logo {
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media screen and (min-width: @desktop) { 
            width: 168px;
        }
        @media screen and (max-width: @tablet) {
            margin-left: -15px;
            margin-right: -15px;
            width: 100%;
        }
    }
    .col-5 {
        @media screen and (max-width: @tablet) {
            display: none;
        }  
    }
    .bradcrumbs {
        display: flex;
        align-items: center;
        height: 100%;
        @media screen and (max-width: @tablet) {
            display: none
        }   
    }
    .buttons-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;  
        a {
            padding: 15px 25px;
        }  
        @media screen and (max-width: @tablet) {
            display: none
        }           
    }
    .menu{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .menu-link {
            color: #065CBE;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            text-align: left;
            text-decoration: none;
            margin: 0 20px;
            &:last-child{
                margin-left: 20px;
                margin-right: 0;
            }
            @media screen and (max-width: 1200px) {
                color: white;
                margin: 14px 12px;
            }
        }
        @media screen and (max-width: 1200px) {
            background-color:#004DA4;
            display: flex;
            align-items: center;
            justify-content: flex-end;
        } 
    }
}




